.aqi-gauge
{
    opacity: 0.7;
    stroke: 1px;
    stroke-width: 1px;

    @for $i from 1 through 6 {
        .aqi-#{$i} {
            fill: nth($color-aqi,$i);
            stroke:nth($color-aqi,$i);
        }
    }

    .pointer
    {
        fill: $smoke-dark;
        stroke: black;
    }
}
