
.station
{
    opacity: 0.8;
    background: white;
    padding:14px;

    .aqi-face
    {
       min-width: 100px;
      
      .banner
       {
            padding:2px;
            color: $light-text; 
            background: $dark;
            text-align: center;
            font-size: 0.8em;
            font-weight: normal;
       }

        .banner-bottom
        {
            border-radius: 0px 0px 5px 5px;
        }

        .banner-top {
            border-radius: 5px 5px 0px 0px;
        }

       .disabled
       {
         background: $smoke-light;
         text-align: center;
         font-size: 2em;
         color: $light-text;
       }
       
        @for $i from 1 through 6 {
            .value-#{$i} {
                background: nth($color-aqi,$i);
                color:nth($color-aqi-text,$i);
                text-align: center;
                font-weight: bold;
                font-size: 2.5em;
                .aqi-value-text
                {
                    font-size: 0.5em;
                }
            }
        }

     
    }
    .aqi-info
    {
        vertical-align: top; 
        font-size: 0.8em;

        .aqi-gauge-polutant
        {
            display: table-cell;
            vertical-align: middle; 
            width:40px;
            font-weight: bold
        }

        .aqi-gauge-container
        {
            display: table-cell;
            vertical-align: middle;
        }
        .top-buffer-big
        {
            margin-top: 6px;
        }
            .top-buffer-small
        {
            margin-top: 3px;
        }
        
        .aqi-info-title
        {
            color: $dark-text;
        }
    }

    .other-polutant
    {
        background: $dark; 
        display: inline-block; 
        margin: 2px 8px 2px 0px; 
        border-radius: 8px;

        .polutant-name
        {
            display: table-cell; 
            color:$light-text; 
            vertical-align: middle; 
            padding: 4px;
            font-size: 0.9em
        }

        .polutant-value
        {
            display:table-cell;
            background: $smoke-light;
            padding: 4px; 
            color: $dark-text;  
            vertical-align: middle;
            text-align: center; 
            border-radius: 0px 8px 8px 0px;
        }
    }

     .station-info{
        padding-top: 5px;
        padding-left:0px;
        padding-right:5px;
        display: inline-block;

        .station-info-icon
        {
            vertical-align: middle;
            font-size: 0.9em;
        }

        .station-info-text
        {
            vertical-align: middle;
            font-size: 0.7em; 
            margin-left:2px
        }
        
     }

     .my-station-icon
     {
        font-size: 1.8em; 
        text-shadow: 0 0 1px black; 
        display: inline-block; 
        text-align: right; 
        color: $disabled;
        &:hover {
             text-shadow: 0px 0px 3px black; 
        }
     }

     .my-station-icon-selected
     {
       color:nth($color-aqi,2);
     }

  



}