body {
  /* Location of the image */
  background-image: url(img/background.jpg);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #282F39; }

.no-padding {
  padding: 0 !important; }

.app-header {
  /*background: gray;
    color: white;*/
  font-size: 20px;
  /*position: absolute;*/ }

.body-buffer {
  padding-top: 90px; }

.info-caption {
  font-weight: bold; }

.splash-loading {
  text-align: center;
  margin-top: 40vh;
  background: #282F39;
  opacity: 0.6; }

.splash-loading-text {
  opacity: 1;
  color: white;
  animation-duration: 1s;
  animation-name: fadeout-fadein;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate; }

.splash-title {
  color: white; }

@keyframes fadeout-fadein {
  from {
    opacity: 1; }
  to {
    opacity: 0.4; } }

.card-block-station {
  opacity: 0.8;
  font-size: 0.8em; }
