$dark-text: black;
$light-text: white;
$color-aqi: #00e400, #ffff00,#ff7e00, #ff0000, #8F3F97, #7E0023;
$color-aqi-text: $dark-text,$dark-text,$dark-text,$light-text,$light-text,$light-text;
$smoke-dark: #BDA991;
$smoke: #C7B199;
$smoke-light: #E8CEB3;
$dark: #373a3c;
$disabled: silver;