<nav class="navbar navbar-toggleable-md navbar-dark fixed-top bg-inverse" >
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/stations" routerLinkActive="active"><h3>Smog Alarm</h3></a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="navbar-nav">
        <a *ngIf="myStationsEnabled" class="nav-item nav-link" routerLink="/mystations" routerLinkActive="active">My stations</a>
        <a class="nav-item nav-link" routerLink="/search" routerLinkActive="active">Search</a>
        <a class="nav-item nav-link" routerLink="/map" routerLinkActive="active">Map</a>
        <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">About</a>
    </div>
    </div>
</nav>
<div class="container-fluid body-buffer">
        <!--<diagnostics></diagnostics>-->
        <!--<station></station>-->
        <router-outlet></router-outlet>
</div>