@charset "UTF-8";
.station {
  opacity: 0.8;
  background: white;
  padding: 14px; }
  .station .aqi-face {
    min-width: 100px; }
    .station .aqi-face .banner {
      padding: 2px;
      color: white;
      background: #373a3c;
      text-align: center;
      font-size: 0.8em;
      font-weight: normal; }
    .station .aqi-face .banner-bottom {
      border-radius: 0px 0px 5px 5px; }
    .station .aqi-face .banner-top {
      border-radius: 5px 5px 0px 0px; }
    .station .aqi-face .disabled {
      background: #E8CEB3;
      text-align: center;
      font-size: 2em;
      color: white; }
    .station .aqi-face .value-1 {
      background: #00e400;
      color: black;
      text-align: center;
      font-weight: bold;
      font-size: 2.5em; }
      .station .aqi-face .value-1 .aqi-value-text {
        font-size: 0.5em; }
    .station .aqi-face .value-2 {
      background: #ffff00;
      color: black;
      text-align: center;
      font-weight: bold;
      font-size: 2.5em; }
      .station .aqi-face .value-2 .aqi-value-text {
        font-size: 0.5em; }
    .station .aqi-face .value-3 {
      background: #ff7e00;
      color: black;
      text-align: center;
      font-weight: bold;
      font-size: 2.5em; }
      .station .aqi-face .value-3 .aqi-value-text {
        font-size: 0.5em; }
    .station .aqi-face .value-4 {
      background: #ff0000;
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: 2.5em; }
      .station .aqi-face .value-4 .aqi-value-text {
        font-size: 0.5em; }
    .station .aqi-face .value-5 {
      background: #8F3F97;
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: 2.5em; }
      .station .aqi-face .value-5 .aqi-value-text {
        font-size: 0.5em; }
    .station .aqi-face .value-6 {
      background: #7E0023;
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: 2.5em; }
      .station .aqi-face .value-6 .aqi-value-text {
        font-size: 0.5em; }
  .station .aqi-info {
    vertical-align: top;
    font-size: 0.8em; }
    .station .aqi-info .aqi-gauge-polutant {
      display: table-cell;
      vertical-align: middle;
      width: 40px;
      font-weight: bold; }
    .station .aqi-info .aqi-gauge-container {
      display: table-cell;
      vertical-align: middle; }
    .station .aqi-info .top-buffer-big {
      margin-top: 6px; }
    .station .aqi-info .top-buffer-small {
      margin-top: 3px; }
    .station .aqi-info .aqi-info-title {
      color: black; }
  .station .other-polutant {
    background: #373a3c;
    display: inline-block;
    margin: 2px 8px 2px 0px;
    border-radius: 8px; }
    .station .other-polutant .polutant-name {
      display: table-cell;
      color: white;
      vertical-align: middle;
      padding: 4px;
      font-size: 0.9em; }
    .station .other-polutant .polutant-value {
      display: table-cell;
      background: #E8CEB3;
      padding: 4px;
      color: black;
      vertical-align: middle;
      text-align: center;
      border-radius: 0px 8px 8px 0px; }
  .station .station-info {
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 5px;
    display: inline-block; }
    .station .station-info .station-info-icon {
      vertical-align: middle;
      font-size: 0.9em; }
    .station .station-info .station-info-text {
      vertical-align: middle;
      font-size: 0.7em;
      margin-left: 2px; }
  .station .my-station-icon {
    font-size: 1.8em;
    text-shadow: 0 0 1px black;
    display: inline-block;
    text-align: right;
    color: silver; }
    .station .my-station-icon:hover {
      text-shadow: 0px 0px 3px black; }
  .station .my-station-icon-selected {
    color: #ffff00; }

.aqi-gauge {
  opacity: 0.7;
  stroke: 1px;
  stroke-width: 1px; }
  .aqi-gauge .aqi-1 {
    fill: #00e400;
    stroke: #00e400; }
  .aqi-gauge .aqi-2 {
    fill: #ffff00;
    stroke: #ffff00; }
  .aqi-gauge .aqi-3 {
    fill: #ff7e00;
    stroke: #ff7e00; }
  .aqi-gauge .aqi-4 {
    fill: #ff0000;
    stroke: #ff0000; }
  .aqi-gauge .aqi-5 {
    fill: #8F3F97;
    stroke: #8F3F97; }
  .aqi-gauge .aqi-6 {
    fill: #7E0023;
    stroke: #7E0023; }
  .aqi-gauge .pointer {
    fill: #BDA991;
    stroke: black; }

@font-face {
  font-family: 'icomoon';
  src: url("..\\fonts/icomoon.eot?ey52yj");
  src: url("..\\fonts/icomoon.eot?ey52yj#iefix") format("embedded-opentype"), url("..\\fonts/icomoon.ttf?ey52yj") format("truetype"), url("..\\fonts/icomoon.woff?ey52yj") format("woff"), url("..\\fonts/icomoon.svg?ey52yj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-home:before {
  content: ""; }

.icon-home2:before {
  content: ""; }

.icon-home3:before {
  content: ""; }

.icon-office:before {
  content: ""; }

.icon-newspaper:before {
  content: ""; }

.icon-pencil:before {
  content: ""; }

.icon-pencil2:before {
  content: ""; }

.icon-quill:before {
  content: ""; }

.icon-pen:before {
  content: ""; }

.icon-blog:before {
  content: ""; }

.icon-eyedropper:before {
  content: ""; }

.icon-droplet:before {
  content: ""; }

.icon-paint-format:before {
  content: ""; }

.icon-image:before {
  content: ""; }

.icon-images:before {
  content: ""; }

.icon-camera:before {
  content: ""; }

.icon-headphones:before {
  content: ""; }

.icon-music:before {
  content: ""; }

.icon-play:before {
  content: ""; }

.icon-film:before {
  content: ""; }

.icon-video-camera:before {
  content: ""; }

.icon-dice:before {
  content: ""; }

.icon-pacman:before {
  content: ""; }

.icon-spades:before {
  content: ""; }

.icon-clubs:before {
  content: ""; }

.icon-diamonds:before {
  content: ""; }

.icon-bullhorn:before {
  content: ""; }

.icon-connection:before {
  content: ""; }

.icon-podcast:before {
  content: ""; }

.icon-feed:before {
  content: ""; }

.icon-mic:before {
  content: ""; }

.icon-book:before {
  content: ""; }

.icon-books:before {
  content: ""; }

.icon-library:before {
  content: ""; }

.icon-file-text:before {
  content: ""; }

.icon-profile:before {
  content: ""; }

.icon-file-empty:before {
  content: ""; }

.icon-files-empty:before {
  content: ""; }

.icon-file-text2:before {
  content: ""; }

.icon-file-picture:before {
  content: ""; }

.icon-file-music:before {
  content: ""; }

.icon-file-play:before {
  content: ""; }

.icon-file-video:before {
  content: ""; }

.icon-file-zip:before {
  content: ""; }

.icon-copy:before {
  content: ""; }

.icon-paste:before {
  content: ""; }

.icon-stack:before {
  content: ""; }

.icon-folder:before {
  content: ""; }

.icon-folder-open:before {
  content: ""; }

.icon-folder-plus:before {
  content: ""; }

.icon-folder-minus:before {
  content: ""; }

.icon-folder-download:before {
  content: ""; }

.icon-folder-upload:before {
  content: ""; }

.icon-price-tag:before {
  content: ""; }

.icon-price-tags:before {
  content: ""; }

.icon-barcode:before {
  content: ""; }

.icon-qrcode:before {
  content: ""; }

.icon-ticket:before {
  content: ""; }

.icon-cart:before {
  content: ""; }

.icon-coin-dollar:before {
  content: ""; }

.icon-coin-euro:before {
  content: ""; }

.icon-coin-pound:before {
  content: ""; }

.icon-coin-yen:before {
  content: ""; }

.icon-credit-card:before {
  content: ""; }

.icon-calculator:before {
  content: ""; }

.icon-lifebuoy:before {
  content: ""; }

.icon-phone:before {
  content: ""; }

.icon-phone-hang-up:before {
  content: ""; }

.icon-address-book:before {
  content: ""; }

.icon-envelop:before {
  content: ""; }

.icon-pushpin:before {
  content: ""; }

.icon-location:before {
  content: ""; }

.icon-location2:before {
  content: ""; }

.icon-compass:before {
  content: ""; }

.icon-compass2:before {
  content: ""; }

.icon-map:before {
  content: ""; }

.icon-map2:before {
  content: ""; }

.icon-history:before {
  content: ""; }

.icon-clock:before {
  content: ""; }

.icon-clock2:before {
  content: ""; }

.icon-alarm:before {
  content: ""; }

.icon-bell:before {
  content: ""; }

.icon-stopwatch:before {
  content: ""; }

.icon-calendar:before {
  content: ""; }

.icon-printer:before {
  content: ""; }

.icon-keyboard:before {
  content: ""; }

.icon-display:before {
  content: ""; }

.icon-laptop:before {
  content: ""; }

.icon-mobile:before {
  content: ""; }

.icon-mobile2:before {
  content: ""; }

.icon-tablet:before {
  content: ""; }

.icon-tv:before {
  content: ""; }

.icon-drawer:before {
  content: ""; }

.icon-drawer2:before {
  content: ""; }

.icon-box-add:before {
  content: ""; }

.icon-box-remove:before {
  content: ""; }

.icon-download:before {
  content: ""; }

.icon-upload:before {
  content: ""; }

.icon-floppy-disk:before {
  content: ""; }

.icon-drive:before {
  content: ""; }

.icon-database:before {
  content: ""; }

.icon-undo:before {
  content: ""; }

.icon-redo:before {
  content: ""; }

.icon-undo2:before {
  content: ""; }

.icon-redo2:before {
  content: ""; }

.icon-forward:before {
  content: ""; }

.icon-reply:before {
  content: ""; }

.icon-bubble:before {
  content: ""; }

.icon-bubbles:before {
  content: ""; }

.icon-bubbles2:before {
  content: ""; }

.icon-bubble2:before {
  content: ""; }

.icon-bubbles3:before {
  content: ""; }

.icon-bubbles4:before {
  content: ""; }

.icon-user:before {
  content: ""; }

.icon-users:before {
  content: ""; }

.icon-user-plus:before {
  content: ""; }

.icon-user-minus:before {
  content: ""; }

.icon-user-check:before {
  content: ""; }

.icon-user-tie:before {
  content: ""; }

.icon-quotes-left:before {
  content: ""; }

.icon-quotes-right:before {
  content: ""; }

.icon-hour-glass:before {
  content: ""; }

.icon-spinner:before {
  content: ""; }

.icon-spinner2:before {
  content: ""; }

.icon-spinner3:before {
  content: ""; }

.icon-spinner4:before {
  content: ""; }

.icon-spinner5:before {
  content: ""; }

.icon-spinner6:before {
  content: ""; }

.icon-spinner7:before {
  content: ""; }

.icon-spinner8:before {
  content: ""; }

.icon-spinner9:before {
  content: ""; }

.icon-spinner10:before {
  content: ""; }

.icon-spinner11:before {
  content: ""; }

.icon-binoculars:before {
  content: ""; }

.icon-search:before {
  content: ""; }

.icon-zoom-in:before {
  content: ""; }

.icon-zoom-out:before {
  content: ""; }

.icon-enlarge:before {
  content: ""; }

.icon-shrink:before {
  content: ""; }

.icon-enlarge2:before {
  content: ""; }

.icon-shrink2:before {
  content: ""; }

.icon-key:before {
  content: ""; }

.icon-key2:before {
  content: ""; }

.icon-lock:before {
  content: ""; }

.icon-unlocked:before {
  content: ""; }

.icon-wrench:before {
  content: ""; }

.icon-equalizer:before {
  content: ""; }

.icon-equalizer2:before {
  content: ""; }

.icon-cog:before {
  content: ""; }

.icon-cogs:before {
  content: ""; }

.icon-hammer:before {
  content: ""; }

.icon-magic-wand:before {
  content: ""; }

.icon-aid-kit:before {
  content: ""; }

.icon-bug:before {
  content: ""; }

.icon-pie-chart:before {
  content: ""; }

.icon-stats-dots:before {
  content: ""; }

.icon-stats-bars:before {
  content: ""; }

.icon-stats-bars2:before {
  content: ""; }

.icon-trophy:before {
  content: ""; }

.icon-gift:before {
  content: ""; }

.icon-glass:before {
  content: ""; }

.icon-glass2:before {
  content: ""; }

.icon-mug:before {
  content: ""; }

.icon-spoon-knife:before {
  content: ""; }

.icon-leaf:before {
  content: ""; }

.icon-rocket:before {
  content: ""; }

.icon-meter:before {
  content: ""; }

.icon-meter2:before {
  content: ""; }

.icon-hammer2:before {
  content: ""; }

.icon-fire:before {
  content: ""; }

.icon-lab:before {
  content: ""; }

.icon-magnet:before {
  content: ""; }

.icon-bin:before {
  content: ""; }

.icon-bin2:before {
  content: ""; }

.icon-briefcase:before {
  content: ""; }

.icon-airplane:before {
  content: ""; }

.icon-truck:before {
  content: ""; }

.icon-road:before {
  content: ""; }

.icon-accessibility:before {
  content: ""; }

.icon-target:before {
  content: ""; }

.icon-shield:before {
  content: ""; }

.icon-power:before {
  content: ""; }

.icon-switch:before {
  content: ""; }

.icon-power-cord:before {
  content: ""; }

.icon-clipboard:before {
  content: ""; }

.icon-list-numbered:before {
  content: ""; }

.icon-list:before {
  content: ""; }

.icon-list2:before {
  content: ""; }

.icon-tree:before {
  content: ""; }

.icon-menu:before {
  content: ""; }

.icon-menu2:before {
  content: ""; }

.icon-menu3:before {
  content: ""; }

.icon-menu4:before {
  content: ""; }

.icon-cloud:before {
  content: ""; }

.icon-cloud-download:before {
  content: ""; }

.icon-cloud-upload:before {
  content: ""; }

.icon-cloud-check:before {
  content: ""; }

.icon-download2:before {
  content: ""; }

.icon-upload2:before {
  content: ""; }

.icon-download3:before {
  content: ""; }

.icon-upload3:before {
  content: ""; }

.icon-sphere:before {
  content: ""; }

.icon-earth:before {
  content: ""; }

.icon-link:before {
  content: ""; }

.icon-flag:before {
  content: ""; }

.icon-attachment:before {
  content: ""; }

.icon-eye:before {
  content: ""; }

.icon-eye-plus:before {
  content: ""; }

.icon-eye-minus:before {
  content: ""; }

.icon-eye-blocked:before {
  content: ""; }

.icon-bookmark:before {
  content: ""; }

.icon-bookmarks:before {
  content: ""; }

.icon-sun:before {
  content: ""; }

.icon-contrast:before {
  content: ""; }

.icon-brightness-contrast:before {
  content: ""; }

.icon-star-empty:before {
  content: ""; }

.icon-star-half:before {
  content: ""; }

.icon-star-full:before {
  content: ""; }

.icon-heart:before {
  content: ""; }

.icon-heart-broken:before {
  content: ""; }

.icon-man:before {
  content: ""; }

.icon-woman:before {
  content: ""; }

.icon-man-woman:before {
  content: ""; }

.icon-happy:before {
  content: ""; }

.icon-happy2:before {
  content: ""; }

.icon-smile:before {
  content: ""; }

.icon-smile2:before {
  content: ""; }

.icon-tongue:before {
  content: ""; }

.icon-tongue2:before {
  content: ""; }

.icon-sad:before {
  content: ""; }

.icon-sad2:before {
  content: ""; }

.icon-wink:before {
  content: ""; }

.icon-wink2:before {
  content: ""; }

.icon-grin:before {
  content: ""; }

.icon-grin2:before {
  content: ""; }

.icon-cool:before {
  content: ""; }

.icon-cool2:before {
  content: ""; }

.icon-angry:before {
  content: ""; }

.icon-angry2:before {
  content: ""; }

.icon-evil:before {
  content: ""; }

.icon-evil2:before {
  content: ""; }

.icon-shocked:before {
  content: ""; }

.icon-shocked2:before {
  content: ""; }

.icon-baffled:before {
  content: ""; }

.icon-baffled2:before {
  content: ""; }

.icon-confused:before {
  content: ""; }

.icon-confused2:before {
  content: ""; }

.icon-neutral:before {
  content: ""; }

.icon-neutral2:before {
  content: ""; }

.icon-hipster:before {
  content: ""; }

.icon-hipster2:before {
  content: ""; }

.icon-wondering:before {
  content: ""; }

.icon-wondering2:before {
  content: ""; }

.icon-sleepy:before {
  content: ""; }

.icon-sleepy2:before {
  content: ""; }

.icon-frustrated:before {
  content: ""; }

.icon-frustrated2:before {
  content: ""; }

.icon-crying:before {
  content: ""; }

.icon-crying2:before {
  content: ""; }

.icon-point-up:before {
  content: ""; }

.icon-point-right:before {
  content: ""; }

.icon-point-down:before {
  content: ""; }

.icon-point-left:before {
  content: ""; }

.icon-warning:before {
  content: ""; }

.icon-notification:before {
  content: ""; }

.icon-question:before {
  content: ""; }

.icon-plus:before {
  content: ""; }

.icon-minus:before {
  content: ""; }

.icon-info:before {
  content: ""; }

.icon-cancel-circle:before {
  content: ""; }

.icon-blocked:before {
  content: ""; }

.icon-cross:before {
  content: ""; }

.icon-checkmark:before {
  content: ""; }

.icon-checkmark2:before {
  content: ""; }

.icon-spell-check:before {
  content: ""; }

.icon-enter:before {
  content: ""; }

.icon-exit:before {
  content: ""; }

.icon-play2:before {
  content: ""; }

.icon-pause:before {
  content: ""; }

.icon-stop:before {
  content: ""; }

.icon-previous:before {
  content: ""; }

.icon-next:before {
  content: ""; }

.icon-backward:before {
  content: ""; }

.icon-forward2:before {
  content: ""; }

.icon-play3:before {
  content: ""; }

.icon-pause2:before {
  content: ""; }

.icon-stop2:before {
  content: ""; }

.icon-backward2:before {
  content: ""; }

.icon-forward3:before {
  content: ""; }

.icon-first:before {
  content: ""; }

.icon-last:before {
  content: ""; }

.icon-previous2:before {
  content: ""; }

.icon-next2:before {
  content: ""; }

.icon-eject:before {
  content: ""; }

.icon-volume-high:before {
  content: ""; }

.icon-volume-medium:before {
  content: ""; }

.icon-volume-low:before {
  content: ""; }

.icon-volume-mute:before {
  content: ""; }

.icon-volume-mute2:before {
  content: ""; }

.icon-volume-increase:before {
  content: ""; }

.icon-volume-decrease:before {
  content: ""; }

.icon-loop:before {
  content: ""; }

.icon-loop2:before {
  content: ""; }

.icon-infinite:before {
  content: ""; }

.icon-shuffle:before {
  content: ""; }

.icon-arrow-up-left:before {
  content: ""; }

.icon-arrow-up:before {
  content: ""; }

.icon-arrow-up-right:before {
  content: ""; }

.icon-arrow-right:before {
  content: ""; }

.icon-arrow-down-right:before {
  content: ""; }

.icon-arrow-down:before {
  content: ""; }

.icon-arrow-down-left:before {
  content: ""; }

.icon-arrow-left:before {
  content: ""; }

.icon-arrow-up-left2:before {
  content: ""; }

.icon-arrow-up2:before {
  content: ""; }

.icon-arrow-up-right2:before {
  content: ""; }

.icon-arrow-right2:before {
  content: ""; }

.icon-arrow-down-right2:before {
  content: ""; }

.icon-arrow-down2:before {
  content: ""; }

.icon-arrow-down-left2:before {
  content: ""; }

.icon-arrow-left2:before {
  content: ""; }

.icon-circle-up:before {
  content: ""; }

.icon-circle-right:before {
  content: ""; }

.icon-circle-down:before {
  content: ""; }

.icon-circle-left:before {
  content: ""; }

.icon-tab:before {
  content: ""; }

.icon-move-up:before {
  content: ""; }

.icon-move-down:before {
  content: ""; }

.icon-sort-alpha-asc:before {
  content: ""; }

.icon-sort-alpha-desc:before {
  content: ""; }

.icon-sort-numeric-asc:before {
  content: ""; }

.icon-sort-numberic-desc:before {
  content: ""; }

.icon-sort-amount-asc:before {
  content: ""; }

.icon-sort-amount-desc:before {
  content: ""; }

.icon-command:before {
  content: ""; }

.icon-shift:before {
  content: ""; }

.icon-ctrl:before {
  content: ""; }

.icon-opt:before {
  content: ""; }

.icon-checkbox-checked:before {
  content: ""; }

.icon-checkbox-unchecked:before {
  content: ""; }

.icon-radio-checked:before {
  content: ""; }

.icon-radio-checked2:before {
  content: ""; }

.icon-radio-unchecked:before {
  content: ""; }

.icon-crop:before {
  content: ""; }

.icon-make-group:before {
  content: ""; }

.icon-ungroup:before {
  content: ""; }

.icon-scissors:before {
  content: ""; }

.icon-filter:before {
  content: ""; }

.icon-font:before {
  content: ""; }

.icon-ligature:before {
  content: ""; }

.icon-ligature2:before {
  content: ""; }

.icon-text-height:before {
  content: ""; }

.icon-text-width:before {
  content: ""; }

.icon-font-size:before {
  content: ""; }

.icon-bold:before {
  content: ""; }

.icon-underline:before {
  content: ""; }

.icon-italic:before {
  content: ""; }

.icon-strikethrough:before {
  content: ""; }

.icon-omega:before {
  content: ""; }

.icon-sigma:before {
  content: ""; }

.icon-page-break:before {
  content: ""; }

.icon-superscript:before {
  content: ""; }

.icon-subscript:before {
  content: ""; }

.icon-superscript2:before {
  content: ""; }

.icon-subscript2:before {
  content: ""; }

.icon-text-color:before {
  content: ""; }

.icon-pagebreak:before {
  content: ""; }

.icon-clear-formatting:before {
  content: ""; }

.icon-table:before {
  content: ""; }

.icon-table2:before {
  content: ""; }

.icon-insert-template:before {
  content: ""; }

.icon-pilcrow:before {
  content: ""; }

.icon-ltr:before {
  content: ""; }

.icon-rtl:before {
  content: ""; }

.icon-section:before {
  content: ""; }

.icon-paragraph-left:before {
  content: ""; }

.icon-paragraph-center:before {
  content: ""; }

.icon-paragraph-right:before {
  content: ""; }

.icon-paragraph-justify:before {
  content: ""; }

.icon-indent-increase:before {
  content: ""; }

.icon-indent-decrease:before {
  content: ""; }

.icon-share:before {
  content: ""; }

.icon-new-tab:before {
  content: ""; }

.icon-embed:before {
  content: ""; }

.icon-embed2:before {
  content: ""; }

.icon-terminal:before {
  content: ""; }

.icon-share2:before {
  content: ""; }

.icon-mail:before {
  content: ""; }

.icon-mail2:before {
  content: ""; }

.icon-mail3:before {
  content: ""; }

.icon-mail4:before {
  content: ""; }

.icon-amazon:before {
  content: ""; }

.icon-google:before {
  content: ""; }

.icon-google2:before {
  content: ""; }

.icon-google3:before {
  content: ""; }

.icon-google-plus:before {
  content: ""; }

.icon-google-plus2:before {
  content: ""; }

.icon-google-plus3:before {
  content: ""; }

.icon-hangouts:before {
  content: ""; }

.icon-google-drive:before {
  content: ""; }

.icon-facebook:before {
  content: ""; }

.icon-facebook2:before {
  content: ""; }

.icon-instagram:before {
  content: ""; }

.icon-whatsapp:before {
  content: ""; }

.icon-spotify:before {
  content: ""; }

.icon-telegram:before {
  content: ""; }

.icon-twitter:before {
  content: ""; }

.icon-vine:before {
  content: ""; }

.icon-vk:before {
  content: ""; }

.icon-renren:before {
  content: ""; }

.icon-sina-weibo:before {
  content: ""; }

.icon-rss:before {
  content: ""; }

.icon-rss2:before {
  content: ""; }

.icon-youtube:before {
  content: ""; }

.icon-youtube2:before {
  content: ""; }

.icon-twitch:before {
  content: ""; }

.icon-vimeo:before {
  content: ""; }

.icon-vimeo2:before {
  content: ""; }

.icon-lanyrd:before {
  content: ""; }

.icon-flickr:before {
  content: ""; }

.icon-flickr2:before {
  content: ""; }

.icon-flickr3:before {
  content: ""; }

.icon-flickr4:before {
  content: ""; }

.icon-dribbble:before {
  content: ""; }

.icon-behance:before {
  content: ""; }

.icon-behance2:before {
  content: ""; }

.icon-deviantart:before {
  content: ""; }

.icon-500px:before {
  content: ""; }

.icon-steam:before {
  content: ""; }

.icon-steam2:before {
  content: ""; }

.icon-dropbox:before {
  content: ""; }

.icon-onedrive:before {
  content: ""; }

.icon-github:before {
  content: ""; }

.icon-npm:before {
  content: ""; }

.icon-basecamp:before {
  content: ""; }

.icon-trello:before {
  content: ""; }

.icon-wordpress:before {
  content: ""; }

.icon-joomla:before {
  content: ""; }

.icon-ello:before {
  content: ""; }

.icon-blogger:before {
  content: ""; }

.icon-blogger2:before {
  content: ""; }

.icon-tumblr:before {
  content: ""; }

.icon-tumblr2:before {
  content: ""; }

.icon-yahoo:before {
  content: ""; }

.icon-yahoo2:before {
  content: ""; }

.icon-tux:before {
  content: ""; }

.icon-appleinc:before {
  content: ""; }

.icon-finder:before {
  content: ""; }

.icon-android:before {
  content: ""; }

.icon-windows:before {
  content: ""; }

.icon-windows8:before {
  content: ""; }

.icon-soundcloud:before {
  content: ""; }

.icon-soundcloud2:before {
  content: ""; }

.icon-skype:before {
  content: ""; }

.icon-reddit:before {
  content: ""; }

.icon-hackernews:before {
  content: ""; }

.icon-wikipedia:before {
  content: ""; }

.icon-linkedin:before {
  content: ""; }

.icon-linkedin2:before {
  content: ""; }

.icon-lastfm:before {
  content: ""; }

.icon-lastfm2:before {
  content: ""; }

.icon-delicious:before {
  content: ""; }

.icon-stumbleupon:before {
  content: ""; }

.icon-stumbleupon2:before {
  content: ""; }

.icon-stackoverflow:before {
  content: ""; }

.icon-pinterest:before {
  content: ""; }

.icon-pinterest2:before {
  content: ""; }

.icon-xing:before {
  content: ""; }

.icon-xing2:before {
  content: ""; }

.icon-flattr:before {
  content: ""; }

.icon-foursquare:before {
  content: ""; }

.icon-yelp:before {
  content: ""; }

.icon-paypal:before {
  content: ""; }

.icon-chrome:before {
  content: ""; }

.icon-firefox:before {
  content: ""; }

.icon-IE:before {
  content: ""; }

.icon-edge:before {
  content: ""; }

.icon-safari:before {
  content: ""; }

.icon-opera:before {
  content: ""; }

.icon-file-pdf:before {
  content: ""; }

.icon-file-openoffice:before {
  content: ""; }

.icon-file-word:before {
  content: ""; }

.icon-file-excel:before {
  content: ""; }

.icon-libreoffice:before {
  content: ""; }

.icon-html-five:before {
  content: ""; }

.icon-html-five2:before {
  content: ""; }

.icon-css3:before {
  content: ""; }

.icon-git:before {
  content: ""; }

.icon-codepen:before {
  content: ""; }

.icon-svg:before {
  content: ""; }

.icon-IcoMoon:before {
  content: ""; }

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #C7B199;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px; }

.map-wrapper {
  position: relative;
  height: 100%;
  width: 100%; }

.sebm-google-map-container {
  height: 90%;
  position: absolute;
  top: 0px;
  bottom: 5px;
  right: 0px;
  left: 0px; }

body {
  /* Location of the image */
  background-image: url(/../../img/background.jpg);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #282F39; }

.no-padding {
  padding: 0 !important; }

.app-header {
  /*background: gray;
    color: white;*/
  font-size: 20px;
  /*position: absolute;*/ }

.body-buffer {
  padding-top: 90px; }

.buffer-small {
  padding-top: 10px; }

.buffer-big {
  padding-top: 20px; }

.info-caption {
  font-weight: bold; }

.splash-loading {
  text-align: center;
  margin-top: 40vh;
  background: #373a3c;
  opacity: 0.6;
  border: 10px; }

.splash-loading-text {
  opacity: 1;
  color: white;
  animation-duration: 1s;
  animation-name: fadeout-fadein;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate; }

.splash-title {
  color: white; }

@keyframes fadeout-fadein {
  from {
    opacity: 1; }
  to {
    opacity: 0.4; } }

.card-block-station {
  opacity: 0.8;
  font-size: 0.8em; }

.disabled {
  color: silver; }
