<div>
    Diagnostics
    <div>
        Data provider infos:
        <div  *ngFor="let info of dataProviderInfos" class="card card-block">
            <div class="card-title">
                <h3> {{info.dataProviderId}}
                <span class="tag tag-default float-xs-right" [ngClass]="{
                    'tag-default': (info.status == 0),
                    'tag-success': (info.status == 1),
                    'tag-warning': (info.status == 2),
                    'tag-error': (info.status == 2)}">{{info.statusDescription}}</span>
                </h3>
            </div>
            <div class="card-text">
                <label><b>Start:</b>{{info.start | date:'short'}}</label><br/>
                <label><b>Stop:</b> {{info.stop | date:'short'}}</label><br/>
                <label><b>Info:</b> {{info.info}}</label>
            </div>
           
        </div>
    </div>
<div>