<div class="map-wrapper">
    <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="9"
     (boundsChange)="boundsChanged($event)" 
     (idle)="idle()"     >
            <sebm-google-map-marker *ngFor="let station of stationViewModels"
                [latitude]="station.stationInfo.lat" 
                [longitude]="station.stationInfo.lon"
                [title]="station.stationInfo.stationName"                
                [iconUrl]="getStationIcon(station)">
                <sebm-google-map-info-window [disableAutoPan]="true">
                    <div>
                        <div>
                            <h3>{{station.stationInfo.stationName}}</h3>
                        </div>
                        <div>
                            <span>{{station.stationInfo.address}}</span>
                        </div>
                        <div>
                            <span style="font-size: 12px">Last update: {{station.timestampCaption}}</span>
                        </div>
                        <hr/>
                          <div *ngIf="station.dominantAqiPolutant" style="font-size: 16px">
                            <div >
                                <span>AQI:</span>&nbsp;<span style="font-size:20px; font-weight: bold">{{station.dominantAqiPolutant.aqi}}</span>&nbsp;<span>({{station.dominantAqiPolutant.categoryName}})</span>
                            </div>
                            <div>
                                <span>Main polutant: </span>&nbsp;<span style="font-size:20px; font-weight: bold">{{station.dominantAqiPolutant.polutantInfo.name}}</span>
                            </div>
                        </div>
                    </div>
                </sebm-google-map-info-window>
            </sebm-google-map-marker>
    </sebm-google-map>
</div>