<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-9" *ngIf="noneExists">
                <div>
                    <h4>You don't have any favourite air pollution monitor stations selected.</h4>
                </div>
                <div>
                    <span>Find stations <a [routerLink]="[ '/search' ]">here</a>.</span>
                    <span *ngIf="nearest != null"> Or check data for nearby <a href="todo">{{nearest.stationInfo.stationName}}</a> station, {{nearest.stationInfo.distanceCaption}} away. </span>
                </div>
            </div>
        </div>
    </div>
<stations [stationKeys]="myStationsKeys" [lat]="lat" [lng]="lng"></stations>
</div>