<div>
    <div class="container">
        <form (submit)="submit($event)">
                <div class="row justify-content-center">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" name="s" class="form-control" id="search" [(ngModel)]="searchPattern"  placeholder="Search for station..." #searchInput>
                            <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="submit"><i class="icon icon-search form-control-feedback"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
             </form>
    </div>
    <div *ngIf="searchResult!= null && searchResult.length == 0" class="text-center">
        <h4>No results found.</h4>
    </div>
    <div *ngIf="searchResult != null && searchResult.length > 0">  
        <stations [stationKeys]="searchResult" [lat]="lat" [lng]="lng"></stations>
    </div>
</div>