
<div infinite-scroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="100"
            (scrolled)="onScroll()">
    <div *ngFor="let batch of stationViewModelBatches; let i = index; let last = last">
        <div class="card-columns">
            <div *ngFor="let station of batch">
                <station [station]="station" [myStationsEnabled]="myStationsEnabled" (isMyStationChanged)="isMyStationChanged($event)"></station>
            </div>
        </div>
        <div class="text-center" [hidden]="!last || stationKeysToLoad.length == 0" style="padding: 10px">
            <button type="button" (click)="loadStations()" class="btn-link">Load more</button>
        </div>
    </div>
</div>
<div class="hidden-xs-down" #mqdetector></div>