<div class="card card-block station">
    <div class="card-title">
    <div style="display: block">
            <div style="font-size: 1.5em; font-weight: bold; display: inline-block">{{station.stationInfo.stationName}}</div>
            <div *ngIf="myStationsEnabled" 
                class="icon icon-star-full my-station-icon float-xs-right"
                [ngClass]="{' my-station-icon-selected': (station.isMy)}"
                (click)="addOrRemoveMy($event)">
          </div>
        </div>
        
        <div style="font-size: 0.7em">{{station.stationInfo.address}}</div>
        <div style="display: block">
            <div class="station-info">
                <span class="icon icon-loop station-info-icon" placement="bottom" ngbTooltip="Last update"></span>
                <span class="station-info-text">{{station.timestampCaption}}</span>
            </div>
            <div *ngIf="station.stationInfo.distance" class="station-info">
                <span class="icon icon-road station-info-icon" placement="bottom" ngbTooltip="Distance from your location"></span>
                <span class="station-info-text">{{station.stationInfo.distanceCaption}}</span>
            </div>
        </div>
    </div>

    <div class="card-text row">
        <div class="col-sm-3 aqi-face">
            <div class="banner banner-top">
                <span>AQI</span>
            </div>
            <div *ngIf="station.dominantAqiPolutant">
                <div class="value-{{station.dominantAqiPolutant.category+1}}">
                    <div class="aqi-value-text">{{station.dominantAqiPolutant.polutantInfo.name}}</div>
                    <div class="icon" [ngClass]="{'icon-smile': (station.dominantAqiPolutant.category == 0),
                        'icon-neutral': (station.dominantAqiPolutant.category == 1),
                        'icon-wondering': (station.dominantAqiPolutant.category == 2),
                        'icon-confused': (station.dominantAqiPolutant.category == 3),
                        'icon-sad': (station.dominantAqiPolutant.category == 4),
                        'icon-crying': (station.dominantAqiPolutant.category == 5)}"></div>
                    <div class="aqi-value-text">{{station.dominantAqiPolutant.aqi}}</div>
                </div>
            </div>
            <div *ngIf="!station.dominantAqiPolutant">
                <div class="disabled">
                        <span>-</span>
                </div>
            </div>
            <div class="banner banner-bottom">
                <span *ngIf="station.dominantAqiPolutant">{{station.dominantAqiPolutant.categoryName}}</span>
                <span *ngIf="!station.dominantAqiPolutant">No data</span>
            </div>
        </div>
        <div class="col-sm-9 aqi-info" #aqiInfoContainer>
            <div *ngIf="station.dominantAqiPolutant">
                <div class="aqi-info-title">Dominant AQI polutant:</div>
                <div class="aqi-gauge-polutant">{{station.dominantAqiPolutant.polutantInfo.name}}</div>
                <div class="aqi-gauge-container">
                    <aqi-gauge  [aqi]="station.dominantAqiPolutant.aqi"></aqi-gauge>
                </div>
                <div *ngIf="station.aqiPolutants.length > 0">
                    <div class="aqi-info-title top-buffer-big">Other AQI polutants:</div>
                     <div *ngFor="let aqiPolutant of station.aqiPolutants" class="top-buffer-small">
                          <div class="aqi-gauge-polutant">{{aqiPolutant.polutantInfo.name}}</div>
                          <div class="aqi-gauge-container">
                              <aqi-gauge [aqi]="aqiPolutant.aqi"></aqi-gauge>
                          </div>
                     </div>
                </div>
                <div *ngIf="station.otherPolutants.length > 0">
                    <div class="aqi-info-title top-buffer-big">Other polutants:</div>
                    <div *ngFor="let otherPolutant of station.otherPolutants" class="other-polutant">
                        <div class="polutant-name"> 
                            <span>{{otherPolutant.name}}</span><span class="small"> [{{otherPolutant.intervalName}}]</span>
                        </div>
                        <div class="polutant-value"> 
                            <span>{{otherPolutant.value}}</span><span class="small"> {{otherPolutant.unitName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
</div>
<!--<div class="card card-block card-block-station">
    <div class="card-title">
        <h4> {{station.stationInfo.stationName}}</h4>
    </div>
    <div class="card-text">
        <div class="row">
            <div class="col-sm-3 text-sm-right">
                <span class="info-caption">Address:</span>
            </div>
            <div class="col-sm-9">
                <span class="info-text">{{station.stationInfo.address}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-sm-right">
                <span class="info-caption">Timestamp:</span>
            </div>
            <div class="col-sm-9">
                <span class="info-text">{{station.timestamp | date:'short'}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-sm-right">
                <span class="info-caption">Provider:</span>
            </div>
            <div class="col-sm-9">
                <span class="info-text">{{station.providerInfo.providerName}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-sm-right">
                <span class="info-caption">AQI Type:</span>
            </div>
            <div class="col-sm-9">
                <span class="info-text">{{station.aqiCalculatorType}}</span>
            </div>
        </div>
        <div class="margin-top: 10px"></div>
        <div class="row">
            <div class="col-sm-3 text-sm-right">
                <span class="info-caption">Polutant:</span>
            </div>
            <div class="col-sm-9">
                <div *ngIf="station.dominantAqiPolutant" class="row">
                    <div class="col-sm-2">
                        <span class="info-text">{{station.dominantAqiPolutant.polutantInfo.name}}</span>&nbsp;
                        <span class="info-text">({{station.dominantAqiPolutant.polutantInfo.intervalName}})</span>
                    </div>
                    <div class="col-sm-2 text-sm-right">
                        <span class="info-text">{{station.dominantAqiPolutant.polutantInfo.value}}</span>&nbsp;
                        <span class="info-text">{{station.dominantAqiPolutant.polutantInfo.unitName}}</span>
                    </div>
                    <div class="col-sm-2 text-sm-right">
                        <span class="info-text">{{station.dominantAqiPolutant.aqi}}</span>&nbsp;
                        <span class="info-text">({{station.dominantAqiPolutant.categoryName}})</span>
                        <div>
                            <aqi-gauge [aqi]="station.dominantAqiPolutant.aqi"></aqi-gauge>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="margin-top: 10px"></div>
        <div class="row">
            <div class="col-sm-3 text-sm-right">
                <span class="info-caption">Other AQI polutants:</span>
            </div>
            <div class="col-sm-9">
                <div class="row" *ngFor="let aqiPolutant of station.aqiPolutants">
                    <div class="col-sm-2">
                        <span class="info-text">{{aqiPolutant.polutantInfo.name}}</span>&nbsp;
                        <span class="info-text">({{aqiPolutant.polutantInfo.intervalName}})</span>
                    </div>
                    <div class="col-sm-2 text-sm-right">
                        <span class="info-text">{{aqiPolutant.polutantInfo.value}}</span>&nbsp;
                        <span class="info-text">{{aqiPolutant.polutantInfo.unitName}}</span>
                    </div>
                    <div class="col-sm-2 text-sm-right">
                        <span class="info-text">{{aqiPolutant.aqi}}</span>&nbsp;
                        <span class="info-text">({{aqiPolutant.categoryName}})</span>
                    </div>
                    <div>
                        <aqi-gauge [aqi]="aqiPolutant.aqi"></aqi-gauge>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-sm-right">
                <span class="info-caption">Other polutants:</span>
            </div>
            <div class="col-sm-9">
                <div class="row" *ngFor="let otherPolutant of station.otherPolutants">
                    <div class="col-sm-2">
                        <span class="info-text">{{otherPolutant.name}}</span>&nbsp;
                        <span class="info-text">({{otherPolutant.intervalName}})</span>
                    </div>
                    <div class="col-sm-2 text-sm-right">
                        <span class="info-text">{{otherPolutant.value}}</span>&nbsp;
                        <span class="info-text">{{otherPolutant.unitName}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->